# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Email spool folder
/app/spool/*

# Cache, session files and logs (Symfony3)
!/var/cache/*
!/var/cache/dev/*
!/var/cache/prod/*
!/var/logs/*
!/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

# Logs (Symfony4)
/var/log/*
!var/log/.gitkeep

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/
/node_modules/
/public/build/
/public/assets/
/.cache/
/tmp/
/dist/

# Composer PHAR
/composer.phar

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

/.idea/
/.vscode/
/.DS_Store
Thumbs.db
# Embedded web-server pid file
/.web-server-pid
/phpunit.xml
/phpunit.xml.cache
/hris-services-live/hris-services.wrldcapitalholdings.com/var
/hris-live/hris.wrldcapitalholdings.com/var
/hris-services-live/hris-services.wrldcapitalholdings.com/vendor
/hris-services-live/hris-services.wrldcapitalholdings.com/vendor
hris-services-live/hris-services.wrldcapitalholdings.com/var/cache/dev/App_KernelDevDebugContainer.php
hris-services-live/hris-services.wrldcapitalholdings.com/var/cache/dev/url_matching_routes.php.meta
hris-services-live/hris-services.wrldcapitalholdings.com/vendor/composer/installed.php
/hris-live/hris.wrldcapitalholdings.com/vendor/composer
/hris-live/hris.wrldcapitalholdings.com/var
/hris-live/hris.wrldcapitalholdings.com/var
/hris-live/hris.wrldcapitalholdings.com/var
/hris-live/hris.wrldcapitalholdings.com/var
/hris-live/hris.wrldcapitalholdings.com/var/cache
/hris-live/hris.wrldcapitalholdings.com/var/cache/dev
