###> symfony/framework-bundle ###
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/dotenv ###
/.env.local
/.env.local.php
/.env.*.local
###< symfony/dotenv ###

###> IDE files ###
/.idea/
/.vscode/
/nbproject/
/*.iml
###< IDE files ###

###> Node ###
/node_modules/
/public/build/
/public/bundles/
###< Node ###

###> PHPUnit ###
/.phpunit.result.cache
/coverage/
###< PHPUnit ###
