{% include 'partials/_head-css.html.twig' %}

<h3>Hello {{ employee }},</h3>
<br>
<p>To reset your password, please click on the following link:</p>
<br>
<a href="{{ resetUrl }}">Click here!</a>
<br>
<br>
<p>If you did not request a password reset, please ignore this email.</p>